@import "../styles/_variables.scss";
@import "../styles/mixins";

// BLOCK ITEMS
.blockList {
    // background: blue !important;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.arrow {
    @include title-text;
    font-weight: 100 !important;
    margin-top: 315px;
    font-size: 6em !important;
    margin-left: -20px;
    margin-right: -20px;
    opacity: 40%;
    &:hover {
        opacity: 100%;
        cursor: pointer;
    }
}
